<div class="logo-container">
    <img class="background-img" src="/images/paranoia/backgroundEffect.png" alt="Background" />
    <div class="glitch-wrap" [class.animate]="animateOnLoad">
        <div class="bard logo-img">
            <div class="strip" data-glitch="9" style="--y: 0em; --h: 5em; --x1: -2em; --h1: -16deg; --x2: 2em; --h2: 13deg;"></div>
            <div class="strip" data-glitch="5" style="--y: -5em; --h: 3em; --x1: -1em; --h1: -42deg; --x2: -6em; --h2: -23deg;"></div>
            <div class="strip" data-glitch="7" style="--y: -8em; --h: 3em; --x1: -10em; --h1: -42deg; --x2: -9em; --h2: 45deg;"></div>
            <div class="strip" data-glitch="8" style="--y: -11em; --h: 5em; --x1: -6em; --h1: -11deg; --x2: 2em; --h2: 29deg;"></div>
            <div class="strip" data-glitch="6" style="--y: -16em; --h: 5em; --x1: 0em; --h1: 42deg; --x2: 2em; --h2: -28deg;"></div>
            <div class="strip" data-glitch="7" style="--y: -21em; --h: 2em; --x1: -3em; --h1: -45deg; --x2: -5em; --h2: -15deg;"></div>
            <div class="strip" data-glitch="6" style="--y: -23em; --h: 2em; --x1: -5em; --h1: 35deg; --x2: 9em; --h2: 35deg;"></div>
            <div class="strip" data-glitch="7" style="--y: -25em; --h: 6em; --x1: 10em; --h1: 39deg; --x2: -8em; --h2: 24deg;"></div>
            <div class="strip" data-glitch="10" style="--y: -31em; --h: 6em; --x1: -6em; --h1: -46deg; --x2: -3em; --h2: 18deg;"></div>
            <div class="strip" data-glitch="9" style="--y: -37em; --h: 1em; --x1: -8em; --h1: -37deg; --x2: -6em; --h2: 15deg;"></div>
            <div class="strip" data-glitch="5" style="--y: -38em; --h: 2em; --x1: -1em; --h1: 16deg; --x2: 2em; --h2: 25deg;"></div>
            <div class="strip" data-glitch="9" style="--y: -40em; --h: 2em; --x1: 5em; --h1: 32deg; --x2: 10em; --h2: -3deg;"></div>
            <div class="strip" data-glitch="6" style="--y: -42em; --h: 4em; --x1: 10em; --h1: -26deg; --x2: 6em; --h2: -45deg;"></div>
            <div class="strip" data-glitch="5" style="--y: -46em; --h: 3em; --x1: -7em; --h1: -45deg; --x2: -8em; --h2: 45deg;"></div>
            <div class="strip" data-glitch="6" style="--y: -49em; --h: 3em; --x1: 4em; --h1: 40deg; --x2: -8em; --h2: 29deg;"></div>
            <div class="strip" data-glitch="10" style="--y: -52em; --h: 6em; --x1: -4em; --h1: 26deg; --x2: -6em; --h2: -3deg;"></div>
            <div class="strip" data-glitch="8" style="--y: -58em; --h: 4em; --x1: 6em; --h1: 43deg; --x2: -1em; --h2: -1deg;"></div>
        </div>
    </div>
</div>

<nav class="main-navigation" [class.is-scrolled]="isScrolled" aria-label="Navegação principal">
    @for (item of navigationItems; track item.id) {
        <a
            class="glitchButton"
            [routerLink]="item.route"
            [class.active]="selectedPage() === item.id"
            [attr.aria-current]="selectedPage() === item.id ? 'page' : null">
            {{ item.label }}
        </a>
    }
    <a class="glitchButton main-navigation__cart" routerLink="/carrinho">
        Carrinho
        @if (carrinhoStore.quantidadeTotal(); as quantidade) {
            <span class="main-navigation__badge">{{ quantidade }}</span>
        }
    </a>
    @if (estaAutenticado()) {
        <a class="glitchButton" routerLink="/perfil">Perfil</a>
    } @else {
        <a class="glitchButton" routerLink="/login">Entrar</a>
    }
</nav>

<router-outlet />

<section class="newsletter" aria-labelledby="newsletter-title">
    <div class="newsletter-content">
        <h2 id="newsletter-title">Receba novos casos</h2>
        <p>Cadastre-se e seja o primeiro a saber<br class="newsletter-break" /> sobre novos lançamentos e promoções.</p>
        <form class="newsletter-form">
            <label class="sr-only" for="newsletter-email">Seu melhor e-mail</label>
            <input id="newsletter-email" name="email" type="email" placeholder="Seu melhor e-mail" autocomplete="email" />
            <button type="submit" aria-label="Cadastrar e-mail">&rarr;</button>
        </form>
    </div>
</section>

<div class="footer">
    <div class="footer-logo">
        <img class="footer-logo__img" src="/images/paranoia/logo.png" alt="Paranoia Jogos" width="2355" height="449" loading="lazy" decoding="async" />
    </div>
    <div class="footer-quote">
        <p>
            Quando investigar já não é suficiente, você precisa viver o que é diferente.
        </p>
    </div>
    <div class="footer-social">
        <a href="https://www.instagram.com/paranoiajogos/" target="_blank" rel="noopener noreferrer">
            <img src="/images/social/instagram.png" alt="Instagram" />
        </a>
    </div>
    <div class="footer-copy">
        <p>© 2026 Paranoia Jogos. Todos os direitos reservados.</p>
    </div>
</div>